<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>404</title>
    <!--<meta http-equiv="refresh" content="3;url=http://localhost:8085/index.html">-->
    <!-- content="3，即3秒后返回主页，可根据需要修改或者删除这段代码 -->
    <link href="../../static/css/error.css" th:href="@{/css/error.css}" rel="stylesheet" type="text/css"/>
</head>
<body>

<!-- 代码 开始 -->
<div id="container">
    <img class="png" src="../../static/images/404.png" th:src="@{/images/404.png}"/> <img class="png msg" src="../../static/images/404_msg.png" th:src="@{/images/404_msg.png}"/>
    <p><a href="javascript: window.history.go(-1);"><img class="png" src="../../static/images/404_to_index.png" th:src="@{/images/404_to_index.png}"/></a></p>
</div>
<div id="cloud" class="png"></div>
<!-- 代码 结束 -->
<script type="text/javascript">

</script>
</body>
</html>